*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	
}
body{
	background-color:#e3e1d6;
}
.card{
	width:90%;
	min-height:200px;
	background-color:#05343a;
	border-radius:10px;
	margin:50px auto;
	padding:20px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	color:#78d892;
}
.circleContainer .circle{
	background-color:#15796d;
	border-radius:150px;
}